
  @import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* :root {
    - Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

} */
body{
    font-family: "Karla","sans-serif";
    font-size: 16px;
    background-color:hsl(204, 43%, 93%) ;
    padding: 1rem;
}
ul {
    list-style-type: none;
}
li,p{
    line-height: 1.6rem;
}
.btn{
    background-color:hsl(71, 73%, 54%) ;
    color: white;
    font-weight:bold;
    font-size: 1rem;
    font-family: inherit;
    padding: 0.685rem 1.25rem;
    border: none;
    border-radius: .35rem;
    outline: none;
    cursor: pointer;   
    width: 100%;
}
p.green{
    color:hsl(71, 73%, 54%) ;
    font-weight: 800;
    margin-bottom: 1rem;
}
.container{
    background-color: white;
    border-radius: .6rem;
}
.container article:first-child{  
    padding: 2rem;   
}
.container  article:first-child h1{
    color: hsl(179, 62%, 43%) ;
    margin-bottom: 1rem;
}
.container article:first-child p{
    margin-bottom: 1rem;  
}
.container  article:first-child p:last-child{
    color: lightgrey;
}
/* .container > article:nth-child(2){
    background-color:hsl(179, 62%, 43%) ;
} */
.container section{
    display: flex;
    flex-direction: column;
}
.container section article{
    padding: 2rem;
}
.container section article:first-child{
    background-color:hsl(179, 62%, 43%) ;
    color: lightgray;  
    /* margin-bottom: 1.2rem; */
}
.container section article:first-child span{
    color: white;
    font-size: 1.8rem;
    margin-right: .5rem;
    
}
.container section article:first-child h3{
    font-size: .7rem;
    font-weight: lighter;
    display: flex;
    align-items: center;
    margin: 1rem 0;
   
}
.container section article:nth-child(2){
    background-color: #0cc2bf;
    color: lightgray;
    font-weight: 700;
    border-bottom-left-radius:.6rem ;
    border-bottom-right-radius:.6rem ;
}
.container section article:nth-child(2) h2{
    padding-bottom: 1rem;
}
@media(min-width :768px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .container{
        width: 700px;
        margin: auto;
    }
    .container article.first-child h1{
    font-size: 2rem;
    }
    .container section{
        flex-direction: row;
    }
    .container section article:first-child{
        flex: 1;
        border-bottom-left-radius: .6rem;
    }
    .container section article:nth-child(2){
        flex: 1;
        border-bottom-right-radius: .6rem;
        border-bottom-left-radius:0;
    }
}